/*============================ RESET CSS ================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Noto Sans Georgian", sans-serif; */
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/*============================ BODY ================================*/
 .container {
    width: 96%;
    height: 96vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

 }

 /*=============================== HEADER =============================*/

 .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

 }
 

 /*=============================== CONTENT ===============================*/
 .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 629px;
 }


 /*=============================== SEARCH ===================================*/
 .searchBar {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 80%;
    height: 8%;
 }

 .searchBarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 8px; */
    height: 100%;
    width: 50%;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #dfe1e5;
 }

 /* HOVER CHO CẢ 3 ELEMENTS */
 .searchBarContent:hover, 
 #advancedFilter:hover,
 #search-btn:hover 
 {
   box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
   border-color: transparent;
 }


 /*---------- SEARCH BAR ----------*/
 .left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    color: #80848a;
 }

 .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
 }

 .searchInput {
    width: 100%;
    height: 80%;
    padding-top: 12px;
    margin-bottom: 8px;
    border: none;
    font-size: 1.1rem;
    outline: none;
    font-family: "Arial", sans-serif;
    background: #fff;
 }

 .right-content {
    display: flex;
    height: 100%;
    width: 18%;
    color: #80848a;
 }

 .right-content i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
 }

 .right-content .micro {
    font-size: 1.2rem;
    cursor: pointer;
 }

 .right-content .cancel {
    font-size: 1.2rem;
    cursor: pointer;
 }


/*----------- ADVANCED FILTER -----------*/
 #advancedFilter {
    width: 20%;
    height: 100%;
    padding: 0 4px 0 4px;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 24px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #dfe1e5;
 }


 /*------------ SEARCH BUTTON -----------*/
#search-btn {
    width: 16%;
    border-radius: 24px;
    background-color: #00c056;
    cursor: pointer;
    border: 2px solid #dfe1e5;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
}


  
 /*========================= POSTER ===================*/
 .poster {
    width: 96%;
    height: 82%;
    background-color: yellow;
 }

 .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
