<footer class="ftco-footer ftco-section"></footer>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About</h2>
            <p>“Discipline is the bridge between goals and accomplishment.” – Jim Rohn</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="https://www.linkedin.com/in/minh-le-duc-a62863172/"><span class="icon-linkedin"></span></a></li>
              <li class="ftco-animate"><a href="https://medium.com/@octoopt_8888"><span class="icon-medium"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com/lee.minh.12177276"><span class="icon-facebook"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#home-section"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
              <li><a href="#about-section"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
              <li><a href="#projects-section"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
              <li><a href="#blog-section"><span class="icon-long-arrow-right mr-2"></span>Blog</a></li>
              <li><a href="#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Focuses</h2>
            <ul class="list-unstyled">
              <li><a href="#projects-section"><span class="icon-long-arrow-right mr-2"></span>Artifiical Intelligence</a></li>
              <li><a href="#projects-section"><span class="icon-long-arrow-right mr-2"></span>Web Development</a></li>
              <li><a href="#projects-section"><span class="icon-long-arrow-right mr-2"></span>Data Analysis</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><a href="#about-section"><span class="icon icon-map-marker"></span><span class="text">243/44 Ton Dan street, ward 15, district 4, Ho Chi Minh city, Vietnam</span></a></li>
                  <li><a href="#about-section"><span class="icon icon-phone"></span><span class="text">(+84) 706 208 723</span></a></li>
                  <li><a href="#about-section"><span class="icon icon-envelope"></span><span class="text"> &nbsp;minh.leduc.0210@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p> Developed&copy;<script>document.write(new Date().getFullYear());</script> <a href="https://github.com/MinLee0210" target="_blank"> by Minh Le Duc</a></p>
        </div>
      </div>
    </div>
  </footer>