<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/static/images/prj_dts_02.jpg); max-height: 80%; object-fit: contain;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <h1 class="big">Our solution</h1>
                <h2 class="mb-4">Our solution</h2>
                <p>Our project leveraged a robust tech stack to achieve high-performance event retrieval. 
                    We employed CLIP for multimodal embeddings, enabling seamless integration of visual and textual information. To enhance efficiency, we extracted keyframes from videos using TransNetv2 and KMeans clustering. This streamlined the retrieval process, allowing our model to focus on the most relevant segments.</p>

                <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex"><span>Key-frame Extraction</span> <span>TransNetV2, K-Means.</span></li>
                    <li class="d-flex"><span>OCR</span> <span>Vietname-OCR.</span></li>
                    <li class="d-flex"><span>Multi-modal Embedding</span> <span>CLIP</span></li>
                    <li class="d-flex"><span>Translation</span> <span>Google Translation, PyTranslator, Transformers-based models, etc.</span></li>
                    <li class="d-flex"><span>LLM-based Approach</span> <span>Query Refinement, etc.</span></li>
                </ul>
              </div>
            </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
            <p><a href="/" class="btn btn-primary py-3 px-4">Let's play!</a> <a href="https://github.com/Pyetz/HCMC-AIC2024.git" class="btn btn-white btn-outline-white py-3 px-4">GitHub</a></p>
          </div>
          </div>
        </div>
    </div>
    </div>
</section>