<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">

        <!-- TÊN DỰ ÁN -->

       <div class="header">
         <h2>Welcome to My Website</h2>
         <p>This is a simple website using HTML, CSS, and JavaScript.</p>
       </div>

       <!-- NỘI DUNG -->

       <div class="content">

            <!-- PHẦN TÌM KIẾM -->
            <div class="searchBar">
                <div class="searchBarContent">
                    <div class="left-content">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="center-content">
                        <input type="text" class="searchInput" placeholder="">
                    </div>
                    <div class="right-content">
                        <i class=" micro fa-solid fa-microphone"></i>
                        <i class="cancel fa-solid fa-x"></i>
                    </div>
                </div>
                <select id="advancedFilter" name="advancedFilter">
                    <option value="0">All</option>
                    <option value="1">Action</option>
                    <option value="2">Comedy</option>
                    <option value="3">Drama</option>
                </select>
                <button id="search-btn">SEARCH</button>
            </div>


            <!-- PHẦN POSTER -->
            <div class="poster">
                <a href="https://aichallenge.hochiminhcity.gov.vn/" target="_blank">
                    <img src="./assets/poster.png" alt="Banner Cuộc Thi">
                </a>
            </div>
            
       </div>
    </div>
</body>

<script src="./script.js"></script>

</html>