<section class="ftco-section ftco-project" id="project-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">The Contest</h1>
                <h2 class="mb-4">Ho Chi Minh City's Artificial Intelligence Competition 2024</h2>
                
            </div>
        </div>
        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/static/images/contest_banner.png);
                                                                                                        background-size: contain;">
                                        
            <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="https://aichallenge.hochiminhcity.gov.vn">Event Retrieval from Visual Data</a></h3>
                    <span>Click to Know More</span>
                </div>
        </div>
        <div class="justify-content-center align-items-center">
            <div class="text text-center p-4">
                <p>"He who would learn to fly one day must first learn to stand and walk and run and climb and dance; one cannot fly into flying." — Nietzsche</p>
            </div>
            <div class="bg-dark row">
                <div class="col-12 align-self-center">
                    <ul class="about-info mt-4 px-md-0 px-2">
                        <li class="d-flex"><b>Title</b>:&nbsp;<p>Event Retrieval from Visual Data</p></li>
                        <li class="d-flex"><b>Description</b>:&nbsp;<p>This competition challenges participants to find videos containing pre-defined information, such as short clips or images. The goal is to locate these videos within a vast dataset of news video footage from Vietnamese television channels and newspapers. This complex task addresses the growing challenge of video search in the face of increasing video data volumes and frequent updates, highlighting the difficulty of identifying events within video content. Instead of seeking a fully automated solution, the competition encourages teams to develop user-friendly software applications that efficiently and accurately help users find the desired video content.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

